@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url("./assets/font/Vazir.woff") format("woff");
}
@font-face {
    font-family: nastaliq;
    src: url("./assets/font/IranNastaliq.ttf");
}
*{
    direction: rtl;
}

body{
    font-family: vazir;
    color: azure;
   
    background:linear-gradient(to right, #0e48b6,#032b7c);
}

.nastaliq-font{
    font-family: nastaliq;
}

.anime-downUp{
    animation: dwup .5s infinite alternate;
}

@keyframes dwup {
    from{transform: scale(1) translateY(0);}
    to{transform: scale(1.3) translateY(40px);}
}